<div class="main">
  <div class="connect-container">
  <div class="connect-status">
    <div class="status-item active">
      <span class="status-icon"></span>
      <span class="status-text">Creating exchange</span>
    </div>
    <div class="status-item">
      <span class="status-icon"></span>
      <span class="status-text">Awaiting payment</span>
    </div>
    <div class="status-item">
      <span class="status-icon"></span>
      <span class="status-text">Processing</span>
    </div>
  </div>

  <div class="connect-info">
    <h4>Exchange info</h4>
    <div class="info-item">
      <span class="info-label">Exchange partner:</span>
      <span class="info-value">Binance 🪙</span>
    </div>
    <div class="info-item">
      <span class="info-label">Type:</span>
      <span class="info-value">Floating</span>
    </div>
    <div class="info-item">
      <span class="info-label">ETA:</span>
      <span class="info-value">5-50 min</span>
    </div>
  </div>

  <div class="partner-info">
    <h3>Partner info</h3>
    <div class="info-item">
      <span class="info-label">KYC Risk:</span>
      <span class="info-value low-risk">Low</span>
    </div>
    <div class="info-item">
      <span class="info-label">Support Rate:</span>
      <span class="support-rate">
        <span class="support-bar"></span>
      </span>
    </div>
    <div class="info-item">
      <span class="info-label">Rating:</span>
      <span class="info-value">⭐ 4.3 (<a href="https://swapspace.co/reviews.binance">173 reviews</a>)</span>
    </div>
  </div>

  <div class="support-info">
    <p>
      Please note that the exchange time depends on the speed of work of our partners and the total load of blockchain networks.
    </p>
    <p>
      If you have any questions, please contact our support team: <a href="mailto:support@swapspace.co">support&swapspace.co</a>
    </p>
  </div>

  <div class="cashback-info">
    <p>Invader owners get cashback—don’t forget to connect your wallet!</p>
    <Button class="connect-wallet">Connect wallet</Button>
  </div>
</div>
</div>

