<div data-v-e65cc870="" data-v-00c52d54="" class="index-pair-widget index__margin">
    <div data-v-e65cc870="" class="index-pair-widget__title">
        Exchange your crypto now
    </div>
    <div data-v-566a4642="" data-v-e65cc870="" class="pair-widget">
        <div data-v-566a4642="" class="pair-widget__input d-fc">
            <div data-v-3af1b7a9="" data-v-566a4642="" class="pair pair-widget__pair">
                <div data-v-94101c04="" data-v-3af1b7a9="" class="pair-input pair-input_dark pair__input" id="2PhfiW">
                    <label data-v-24ac749c="" data-v-94101c04="" for="pB9dNY"
                        class="form-input pair-input__input form-input_max-width form-input_dark form-input_rounded form-input_lg"><span
                            data-v-24ac749c="" class="form-input__label"><span data-v-24ac749c=""
                                class="form-input__label_text">
                                You send
                            </span> <!----></span> <span data-v-24ac749c="" class="form-input__wrapper"><input
                                data-v-24ac749c="" id="pB9dNY" spellcheck="false" max="Infinity" min="0"
                                maxlength="Infinity" placeholder="" step="any" trim="true" type="text"
                                autocomplete="off" lang="en" inputmode="decimal"
                                class="form-input__input form-input__input_rounded form-input__input_transparent-border">
                            <!----> <!----></span></label>
                    <div data-v-08d4bb7c="" data-v-94101c04="" class="spinner pair-input__spinner"
                        style="--border: 3px solid #e35760; --width: 24px; --height: 24px; display: none;"></div>
                    <div data-v-072b87d6="" data-v-94101c04="" class="pair-search"><button data-v-072b87d6=""
                            type="button" class="pair-search__button-dark pair-search__button-no-bottom-round">
                            <div data-v-cc557c40="" data-v-072b87d6=""
                                class="coin-icon coin-icon__sm coin-icon__bg_ pair-search__button-dark-icon icon"><img
                                    data-v-cc557c40="" loading="lazy"
                                    src="https://storage.swapspace.co/static/font/src/btc.svg" alt="btc-icon"
                                    class="coin-icon__image coin-icon__white"></div> <!----> <span data-v-072b87d6=""
                                class="pair-search__button-dark-label d-f-c"><span data-v-072b87d6="">
                                    btc
                                </span> <span data-v-072b87d6="" class="pair-search__button-dark-label-network"
                                    style="display: none;">
                                    btc
                                </span></span>
                            <div data-v-08d4bb7c="" data-v-072b87d6="" class="spinner pair-search__spinner"
                                style="--border: 3px solid #e35760; --width: 24px; --height: 24px; display: none;">
                            </div> <svg data-v-78e23fac="" data-v-072b87d6="" aria-hidden="true" focusable="false"
                                data-prefix="fa" data-icon="caret-down" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 320 512"
                                class="svg-inline--fa fa-caret-down fa-w-10 pair-search__button-dark-caret">
                                <path data-v-78e23fac="" fill="currentColor"
                                    d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"
                                    class=""></path>
                            </svg>
                        </button>
                        <div data-v-6a164521="" data-v-072b87d6="" class="search-input pair-search__search"
                            style="display: none;"><label data-v-24ac749c="" data-v-6a164521="" for="SduNl8"
                                class="form-input form-input_dark form-input_rounded form-input_lg search-input__input_lg search-input__input_dark"><span
                                    data-v-24ac749c="" class="form-input__label"><!----> <!----></span> <span
                                    data-v-24ac749c="" class="form-input__wrapper"><input data-v-24ac749c="" id="SduNl8"
                                        spellcheck="false" max="Infinity" min="-Infinity" maxlength="Infinity"
                                        placeholder="Search" step="any" trim="true" type="text" autocomplete="off"
                                        lang="en" inputmode="text"
                                        class="form-input__input form-input__input_rounded form-input__input_no-bottom-border">
                                    <!----> <!----></span></label> <svg data-v-83c11654="" data-v-6a164521=""
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="magnifying-glass"
                                role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                class="fa-search svg-inline--fa fa-magnifying-glass fa-w-16 fa-search_dark search-input__icon-with-dropdown">
                                <path data-v-83c11654="" fill="currentColor"
                                    d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                                    class=""></path>
                            </svg> <svg data-v-27bc3826="" data-v-6a164521="" aria-hidden="true" focusable="false"
                                data-prefix="fas" data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 384 512"
                                class="fa-close svg-inline--fa fa-xmark fa-w-12 search-input__icon-with-dropdown"
                                style="display: none;">
                                <path data-v-27bc3826="" fill="currentColor"
                                    d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
                                    class=""></path>
                            </svg></div>
                    </div>
                </div> <!----> <!---->
                <div data-v-3af1b7a9="" class="pair__swap_wrapper d-fcc"><button data-v-65d528c1="" data-v-3af1b7a9=""
                        type="button" class="pair-swap d-fcc pair-swap_sm"><svg data-v-65d528c1="" width="15"
                            height="16" viewBox="0 0 15 16" xmlns="http://www.w3.org/2000/svg"
                            class="pair-swap__icon pair-swap__icon_sm pair-swap__icon_dark">
                            <path data-v-65d528c1=""
                                d="M14.6103 2.49135L11.0311 0.13644C10.7708 -0.0305747 10.4292 -0.0472762 10.1526 0.103037C9.87603 0.253351 9.71334 0.553978 9.71334 0.871307V2.25753H4.89773C2.3435 2.25753 0.277344 4.39533 0.277344 7.00076V8.10306C0.277344 8.63751 0.700337 9.07175 1.22094 9.07175C1.74155 9.07175 2.16454 8.63751 2.16454 8.10306V7.00076C2.16454 5.44752 3.40098 4.17821 4.914 4.17821H9.72961V5.59784C9.72961 5.91516 9.8923 6.21579 10.1689 6.3661C10.299 6.43291 10.4454 6.46631 10.5756 6.46631C10.7383 6.46631 10.901 6.41621 11.0311 6.3327L14.6103 3.97779C14.8543 3.81077 15.0007 3.54355 15.0007 3.24292C15.0007 2.94229 14.8543 2.65837 14.6103 2.49135Z">
                            </path>
                            <path data-v-65d528c1=""
                                d="M13.7961 6.78369C13.2755 6.78369 12.8525 7.21793 12.8525 7.75238V8.85468C12.8525 10.4079 11.616 11.6772 10.103 11.6772H5.28741V10.2743C5.28741 9.95698 5.12472 9.65635 4.84815 9.50604C4.57158 9.35573 4.2462 9.35572 3.96963 9.53944L0.390455 11.8944C0.146421 12.0614 0 12.3286 0 12.6292C0 12.9298 0.146421 13.2138 0.390455 13.3641L3.96963 15.719C4.11605 15.8192 4.26247 15.8526 4.42516 15.8526C4.57158 15.8526 4.70173 15.8192 4.83188 15.7524C5.10845 15.6021 5.27114 15.3015 5.27114 14.9841V13.5979H10.103C12.6572 13.5979 14.7234 11.4601 14.7234 8.85468V7.75238C14.7234 7.21793 14.3004 6.78369 13.7961 6.78369Z">
                            </path>
                        </svg></button></div>
                <div data-v-94101c04="" data-v-3af1b7a9="" class="pair-input pair-input_dark pair__input" id="Zdc0EG">
                    <label data-v-24ac749c="" data-v-94101c04="" for="ry5vkV"
                        class="form-input pair-input__input form-input_max-width form-input_disabled form-input_dark form-input_rounded form-input_lg"><span
                            data-v-24ac749c="" class="form-input__label"><span data-v-24ac749c=""
                                class="form-input__label_text">
                                You get
                            </span> <!----></span> <span data-v-24ac749c="" class="form-input__wrapper"><input
                                data-v-24ac749c="" id="ry5vkV" spellcheck="false" disabled="disabled" max="Infinity"
                                min="0" maxlength="Infinity" placeholder="" step="any" trim="true" type="text"
                                autocomplete="off" lang="en" inputmode="decimal"
                                class="form-input__input form-input__input_rounded form-input__input_transparent-border">
                            <!----> <!----></span></label>
                    <div data-v-08d4bb7c="" data-v-94101c04="" class="spinner pair-input__spinner"
                        style="--border: 3px solid #e35760; --width: 24px; --height: 24px; display: none;"></div>
                    <div data-v-072b87d6="" data-v-94101c04="" class="pair-search"><button data-v-072b87d6=""
                            type="button" class="pair-search__button-dark pair-search__button-no-bottom-round">
                            <div data-v-cc557c40="" data-v-072b87d6=""
                                class="coin-icon coin-icon__sm coin-icon__bg_ pair-search__button-dark-icon icon"><img
                                    data-v-cc557c40="" loading="lazy"
                                    src="https://storage.swapspace.co/static/font/src/eth.svg" alt="eth-icon"
                                    class="coin-icon__image coin-icon__white"></div> <!----> <span data-v-072b87d6=""
                                class="pair-search__button-dark-label d-f-c"><span data-v-072b87d6="">
                                    eth
                                </span> <span data-v-072b87d6="" class="pair-search__button-dark-label-network"
                                    style="display: none;">
                                    eth
                                </span></span>
                            <div data-v-08d4bb7c="" data-v-072b87d6="" class="spinner pair-search__spinner"
                                style="--border: 3px solid #e35760; --width: 24px; --height: 24px; display: none;">
                            </div> <svg data-v-78e23fac="" data-v-072b87d6="" aria-hidden="true" focusable="false"
                                data-prefix="fa" data-icon="caret-down" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 320 512"
                                class="svg-inline--fa fa-caret-down fa-w-10 pair-search__button-dark-caret">
                                <path data-v-78e23fac="" fill="currentColor"
                                    d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"
                                    class=""></path>
                            </svg>
                        </button>
                        <div data-v-6a164521="" data-v-072b87d6="" class="search-input pair-search__search"
                            style="display: none;"><label data-v-24ac749c="" data-v-6a164521="" for="H4iRXt"
                                class="form-input form-input_dark form-input_rounded form-input_lg search-input__input_lg search-input__input_dark"><span
                                    data-v-24ac749c="" class="form-input__label"><!----> <!----></span> <span
                                    data-v-24ac749c="" class="form-input__wrapper"><input data-v-24ac749c="" id="H4iRXt"
                                        spellcheck="false" max="Infinity" min="-Infinity" maxlength="Infinity"
                                        placeholder="Search" step="any" trim="true" type="text" autocomplete="off"
                                        lang="en" inputmode="text"
                                        class="form-input__input form-input__input_rounded form-input__input_no-bottom-border">
                                    <!----> <!----></span></label> <svg data-v-83c11654="" data-v-6a164521=""
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="magnifying-glass"
                                role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                class="fa-search svg-inline--fa fa-magnifying-glass fa-w-16 fa-search_dark search-input__icon-with-dropdown">
                                <path data-v-83c11654="" fill="currentColor"
                                    d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                                    class=""></path>
                            </svg> <svg data-v-27bc3826="" data-v-6a164521="" aria-hidden="true" focusable="false"
                                data-prefix="fas" data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 384 512"
                                class="fa-close svg-inline--fa fa-xmark fa-w-12 search-input__icon-with-dropdown"
                                style="display: none;">
                                <path data-v-27bc3826="" fill="currentColor"
                                    d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
                                    class=""></path>
                            </svg></div>
                    </div>
                </div> <!---->
            </div> 
            <button data-v-0f417838="" data-v-566a4642="" type="button"
                class="button pair-widget__button-partner ml-i button_lg button_primary button_uppercase button_"
                id="widget_lower">
                View offers
            </button>
        </div>
    </div>
</div>