<div data-v-49467a3e="" data-v-6f21002e="" data-v-00c52d54="" id="our-features" class="index-animation index__margin">
    <div data-v-7ff2a653="" data-v-6f21002e="" class="index-our-features" data-v-49467a3e=""><img data-v-7ff2a653=""
            src="assets/images/our-features-base.5765143.svg" alt="Our features Base" class="index-our-features__base">
        <img data-v-7ff2a653="" src="assets/images/our-features-sm-planet.72b29d7.svg" alt="Our features Planet"
            class="index-our-features__planet-1" style="--translate-left: 25%; --translate-top: 61%;"> <img
            data-v-7ff2a653="" src="assets/images/our-features-sm-planet.72b29d7.svg" alt="Our features Planet"
            class="index-our-features__planet-2" style="--translate-left: 78%; --translate-top: 57%;"> <img
            data-v-7ff2a653="" src="assets/images/our-features-lg-planet.dd02fbf.svg" alt="Our features Planet"
            class="index-our-features__planet-3" style="--translate-left: 25%; --translate-top: 90%;"> <img
            data-v-7ff2a653="" src="assets/images/our-features-lg-planet.dd02fbf.svg" alt="Our features Planet"
            class="index-our-features__planet-4"
            style="--translate-left: 50%; --translate-top: 100%; --translate-scale: 1.3;"> <img data-v-7ff2a653=""
            src="assets/images/our-features-lg-planet.dd02fbf.svg" alt="Our features Planet"
            class="index-our-features__planet-5"
            style="--translate-left: 80%; --translate-top: 87%; --translate-scale: 0.8;">
    </div>
    <div data-v-6f21002e="" data-v-49467a3e="" class="index-features__relative">
        <h3 data-v-6f21002e="" data-v-49467a3e="" class="index-features__title">
            Our features
        </h3>
        <div data-v-6f21002e="" data-v-49467a3e="" class="index-features__main-container">
            <div data-v-6f21002e="" data-v-49467a3e="" class="index-features__container">
                <div data-v-6f21002e="" data-v-49467a3e="" class="index-features__item index-features__item_lg"><img
                        data-v-6f21002e="" data-v-49467a3e="" src="assets/images/index-bullet.a35e0cb.svg" alt="bullet">
                    <span data-v-6f21002e="" data-v-49467a3e="" class="index-features__text">
                        More than 3650+ coins available
                    </span>
                </div>
                <div data-v-6f21002e="" data-v-49467a3e="" class="index-features__item"><img data-v-6f21002e=""
                        data-v-49467a3e="" src="assets/images/index-bullet.a35e0cb.svg" alt="bullet"> <span
                        data-v-6f21002e="" data-v-49467a3e="" class="index-features__text">
                        Loyalty program
                    </span></div>
                <div data-v-6f21002e="" data-v-49467a3e="" class="index-features__item"><img data-v-6f21002e=""
                        data-v-49467a3e="" src="assets/images/index-bullet.a35e0cb.svg" alt="bullet"> <span
                        data-v-6f21002e="" data-v-49467a3e="" class="index-features__text">
                        24/7 live support
                    </span></div>
            </div>
            <div data-v-6f21002e="" data-v-49467a3e="" class="index-features__container">
                <div data-v-6f21002e="" data-v-49467a3e="" class="index-features__item"><img data-v-6f21002e=""
                        data-v-49467a3e="" src="assets/images/index-bullet.a35e0cb.svg" alt="bullet"> <span
                        data-v-6f21002e="" data-v-49467a3e="" class="index-features__text">
                        Best rates on the market
                    </span></div>
                <div data-v-6f21002e="" data-v-49467a3e="" class="index-features__item"><img data-v-6f21002e=""
                        data-v-49467a3e="" src="assets/images/index-bullet.a35e0cb.svg" alt="bullet"> <span
                        data-v-6f21002e="" data-v-49467a3e="" class="index-features__text">
                        Fixed &amp; floating rates
                    </span></div>
                <div data-v-6f21002e="" data-v-49467a3e="" class="index-features__item index-features__item_lg"><img
                        data-v-6f21002e="" data-v-49467a3e="" src="assets/images/index-bullet.a35e0cb.svg" alt="bullet">
                    <span data-v-6f21002e="" data-v-49467a3e="" class="index-features__text">
                        Zero sign-up hassle
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>