<div data-v-7712230a="" data-v-49467a3e="" class="index-product index-product_reverse" style="--opacity-transition: 1; justify-content: center;">
    <div data-v-7712230a="" data-v-49467a3e="" class="index-product__info-container">
        <h2 data-v-7712230a="" data-v-49467a3e="" class="index-product__title">
            Spend Crypto
        </h2>
        <p data-v-7712230a="" data-v-49467a3e="" class="index-product__text">
            Buy gift cards from popular retailers with your crypto: choose from thousands of available options for all
            your shopping needs.
            Convert your crypto into the real-world goods in a couple of clicks!
        </p>
        <div data-v-7712230a="" data-v-49467a3e="" class="index-product__link-container"><a data-v-7712230a=""
                href="/spend-crypto" class="index-product__link" data-v-49467a3e="">
                Try now
            </a></div>
    </div>
    <div data-v-7712230a="" data-v-49467a3e="" class="index-product__image-container" style="--opacity-transition: 1;">
        <div data-v-4e90716e="" data-v-5beda648="" class="index-spend-crypto" data-v-49467a3e=""
            style="--gradient-transition-1: 0%; --gradient-transition-2: 0%; --top-transition: 0%;"><img
                data-v-4e90716e="" src="https://swapspace.co/_nuxt/img/spend-crypto-base.0baddae.svg" alt="Spend Crypto Base"
                class="index-spend-crypto__base" style="--rotate-z: 0deg;"> <img data-v-4e90716e=""
                src="https://swapspace.co/_nuxt/img/spend-crypto-coin-1.3846bd1.svg" alt="Spend Crypto Coin"
                class="index-spend-crypto__coin-1" style="--rotate-z: 0deg;"> <img data-v-4e90716e=""
                src="https://swapspace.co/_nuxt/img/spend-crypto-coin-2.b13437e.svg" alt="Spend Crypto Coin"
                class="index-spend-crypto__coin-2" style="--rotate-z: 0deg;"> <img data-v-4e90716e=""
                src="https://swapspace.co/_nuxt/img/spend-crypto-coin-4.8d271ce.svg" alt="Spend Crypto Coin"
                class="index-spend-crypto__coin-4" style="--rotate-z: 0deg;"> <img data-v-4e90716e=""
                src="https://swapspace.co/_nuxt/img/spend-crypto-coin-3.1d975dd.svg" alt="Spend Crypto Coin"
                class="index-spend-crypto__coin-3" style="--rotate-z: 0deg;"></div>
    </div>
</div>