<!-- <div class="wrapper">
    
    <ul class="recent-list" id="recent_list">
        <li>
            <div class="recent-time">
                <time timestamp="1724370718">2 minutes ago</time>
            </div>
            <div class="dir-from">
                <div class="coin-value">2.2 SOL</div>
                <div class="coin-ico svgcoin sol"></div>
            </div>
            <div class="dir-arrow">
                <span class="ico arrow"></span>
            </div>
            <div class="dir-to">
                <div class="coin-ico svgcoin trx"></div>
                <div class="coin-value">TRX</div>
            </div>
            <div class="recent-howlong">
                <i class="ico timer"></i><span class="recent-timer" data-time="5">5 sec</span>
            </div>
        </li>
        <li>
            <div class="recent-time">
                <time timestamp="1724370677">2 minutes ago</time>
            </div>
            <div class="dir-from">
                <div class="coin-value">0.22 ETH</div>
                <div class="coin-ico svgcoin eth"></div>
            </div>
            <div class="dir-arrow">
                <span class="ico arrow"></span>
            </div>
            <div class="dir-to">
                <div class="coin-ico svgcoin usdtbsc"></div>
                <div class="coin-value">USDT</div>
            </div>
            <div class="recent-howlong">
                <i class="ico timer"></i><span class="recent-timer" data-time="3">3 sec</span>
            </div>
        </li>
        <li>
            <div class="recent-time">
                <time timestamp="1724370656">3 minutes ago</time>
            </div>
            <div class="dir-from">
                <div class="coin-value">1000 TRX</div>
                <div class="coin-ico svgcoin trx"></div>
            </div>
            <div class="dir-arrow">
                <span class="ico arrow"></span>
            </div>
            <div class="dir-to">
                <div class="coin-ico svgcoin sol"></div>
                <div class="coin-value">SOL</div>
            </div>
            <div class="recent-howlong">
                <i class="ico timer"></i><span class="recent-timer" data-time="4">4 sec</span>
            </div>
        </li>
        <li>
            <div class="recent-time">
                <time timestamp="1724370645">3 minutes ago</time>
            </div>
            <div class="dir-from">
                <div class="coin-value">0.83413 ETH</div>
                <div class="coin-ico svgcoin eth"></div>
            </div>
            <div class="dir-arrow">
                <span class="ico arrow"></span>
            </div>
            <div class="dir-to">
                <div class="coin-ico svgcoin btc"></div>
                <div class="coin-value">BTC</div>
            </div>
            <div class="recent-howlong">
                <i class="ico timer"></i><span class="recent-timer" data-time="8">8 sec</span>
            </div>
        </li>
        <li>
            <div class="recent-time">
                <time timestamp="1724370625">3 minutes ago</time>
            </div>
            <div class="dir-from">
                <div class="coin-value">1000 TON</div>
                <div class="coin-ico svgcoin ton"></div>
            </div>
            <div class="dir-arrow">
                <span class="ico arrow"></span>
            </div>
            <div class="dir-to">
                <div class="coin-ico svgcoin usdttrc"></div>
                <div class="coin-value">USDT</div>
            </div>
            <div class="recent-howlong">
                <i class="ico timer"></i><span class="recent-timer" data-time="1">1 sec</span>
            </div>
        </li>
        <li>
            <div class="recent-time">
                <time timestamp="1724370620">3 minutes ago</time>
            </div>
            <div class="dir-from">
                <div class="coin-value">0.008 BTC</div>
                <div class="coin-ico svgcoin btc"></div>
            </div>
            <div class="dir-arrow">
                <span class="ico arrow"></span>
            </div>
            <div class="dir-to">
                <div class="coin-ico svgcoin ltc"></div>
                <div class="coin-value">LTC</div>
            </div>
            <div class="recent-howlong">
                <i class="ico timer"></i><span class="recent-timer" data-time="2">2 sec</span>
            </div>
        </li>
        <li>
            <div class="recent-time">
                <time timestamp="1724370567">4 minutes ago</time>
            </div>
            <div class="dir-from">
                <div class="coin-value">0.47801 LTC</div>
                <div class="coin-ico svgcoin ltc"></div>
            </div>
            <div class="dir-arrow">
                <span class="ico arrow"></span>
            </div>
            <div class="dir-to">
                <div class="coin-ico svgcoin usdttrc"></div>
                <div class="coin-value">USDT</div>
            </div>
            <div class="recent-howlong">
                <i class="ico timer"></i><span class="recent-timer" data-time="2">2 sec</span>
            </div>
        </li>
        <li>
            <div class="recent-time">
                <time timestamp="1724370531">5 minutes ago</time>
            </div>
            <div class="dir-from">
                <div class="coin-value">0.1 BTC</div>
                <div class="coin-ico svgcoin btc"></div>
            </div>
            <div class="dir-arrow">
                <span class="ico arrow"></span>
            </div>
            <div class="dir-to">
                <div class="coin-ico svgcoin trx"></div>
                <div class="coin-value">TRX</div>
            </div>
            <div class="recent-howlong">
                <i class="ico timer"></i><span class="recent-timer" data-time="3">3 sec</span>
            </div>
        </li>
        <li>
            <div class="recent-time">
                <time timestamp="1724370527">5 minutes ago</time>
            </div>
            <div class="dir-from">
                <div class="coin-value">3589.7 USDC</div>
                <div class="coin-ico svgcoin usdcsol"></div>
            </div>
            <div class="dir-arrow">
                <span class="ico arrow"></span>
            </div>
            <div class="dir-to">
                <div class="coin-ico svgcoin sol"></div>
                <div class="coin-value">SOL</div>
            </div>
            <div class="recent-howlong">
                <i class="ico timer"></i><span class="recent-timer" data-time="2">2 sec</span>
            </div>
        </li>
        <li>
            <div class="recent-time">
                <time timestamp="1724370519">5 minutes ago</time>
            </div>
            <div class="dir-from">
                <div class="coin-value">1250 USDT</div>
                <div class="coin-ico svgcoin usdtbsc"></div>
            </div>
            <div class="dir-arrow">
                <span class="ico arrow"></span>
            </div>
            <div class="dir-to">
                <div class="coin-ico svgcoin usdttrc"></div>
                <div class="coin-value">USDT</div>
            </div>
            <div class="recent-howlong">
                <i class="ico timer"></i><span class="recent-timer" data-time="2">2 sec</span>
            </div>
        </li>
    </ul>
</div> -->


<div class="wrapper">
    <h2 class="center"><span>Recent transactions</span></h2>
    <div class="transaction-list">
        <div class="transaction" *ngFor="let transaction of transactions">
            <div class="time">{{ transaction.timeAgo }}</div>
            <div class="amount">{{ transaction.amount }}</div>
            <div class="from">{{ transaction.from }} → {{ transaction.to }}</div>
            <div class="status">{{ transaction.status }}</div>
        </div>
    </div>
</div>