<div data-v-57c9741b="" data-v-00c52d54="" class="index-how index__margin">
    <div data-v-57c9741b="" class="index-how__container">
        <div data-v-57c9741b="" class="index-how__text-container">
            <h3 data-v-57c9741b="" class="index-how__title">
                How we work
            </h3>
            <p data-v-57c9741b="" class="index-how__text">
                Swapspace aims to save your time and simplify the exchange process: we aggregate the swap offers from
                the most trustworthy crypto exchanges – you only need to pick the best option and our 24/7 support team
                will be here with you for any help.
            </p>
        </div>
        <div data-v-57c9741b="" class="index-how__image-container">
            <img data-v-57c9741b="" src="assets/images/how-we-work.ce07f8f.webp" alt="How we work" width="498"
                height="300" class="index-how__image">
            <img data-v-57c9741b="" src="assets/images/how-we-work-mobile.fed8552.webp" alt="How we work" width="332"
                height="690" class="index-how__image-mobile">
        </div>
    </div>
    <a data-v-57c9741b="" href="/exchange/step1" class="index-how__link">
        <button data-v-0f417838="" data-v-57c9741b="" type="button"
            class="button index-how__button button_xl button_primary button_uppercase button_">
            Try it yourself
        </button>
    </a>
</div>