<div data-v-7712230a="" data-v-49467a3e="" class="index-product" style="--opacity-transition: 1;">
    <div data-v-7712230a="" data-v-49467a3e="" class="index-product__info-container">
        <h2 data-v-7712230a="" data-v-49467a3e="" class="index-product__title">
            Cross-Chain Crypto Swaps
        </h2>
        <p data-v-7712230a="" data-v-49467a3e="" class="index-product__text">
            At SwapSpace, we offer bridging your tokens across popular networks — instantly and with no registration.
            Cross-chain swaps are easier than ever with our trusted crypto exchange partners.
        </p>
        <div data-v-7712230a="" data-v-49467a3e="" class="index-product__link-container"><a data-v-7712230a=""
                href="/cross-chain" class="index-product__link" data-v-49467a3e="">
                More details
            </a>
        </div>
    </div>
    <div data-v-7712230a="" data-v-49467a3e="" class="index-product__image-container" style="--opacity-transition: 1;">
        <div data-v-29d3ab58="" data-v-5beda648="" class="index-cross-chain" data-v-49467a3e=""
            style="--gradient-transition-1: 0%; --gradient-transition-2: 0%; --top-transition: 0%;"><img
                data-v-29d3ab58="" src="assets/images/cross-chain-chain.96aa366.svg" alt="Cross Chain Chain"
                class="index-cross-chain__chain" style="--rotate-z: 0deg;"> <img data-v-29d3ab58=""
                src="assets/images/cross-chain-coin.4392021.svg" alt="Cross Chain Coin" class="index-cross-chain__coin"
                style="--translate-left: 50px; --translate-top: 0px; --rotate-z: 0deg;">
        </div>
    </div>
</div>