<div class="modal-overlay" (click)="close()">
    <div class="modal-content" (click)="$event.stopImmediatePropagation()">
        <div class="connect_modal_container">
            <div class="title">Available Wallets (4)</div>
            <div class="wallet">
                <div class="first">
                    <div class="wallet-section">
                        <div class="img"></div>
                        <div class="wallet-name">MetaMask</div>
                    </div>
                    <div class="wallet-section">
                        <div class="img"></div>
                        <div class="wallet-name">Coinbase Wallet</div>
                    </div>
                </div>
                <div class="second">
                    <div class="wallet-section">
                        <div class="img"></div>
                        <div class="wallet-name">WalletConnect</div>
                    </div>
                    <div class="wallet-section">
                        <div class="img"></div>
                        <div class="wallet-name">Ledger</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
