/* footer {
    background: #231f26;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
   */

.header {
  background-color: #1a1a1a;
  color: white;
  padding: 20px;
  text-align: center;
}

.header-content {
  margin-bottom: 20px;
}

.detail-sections {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

@media screen and (min-width:450px) and (max-width:750px) {
  .detail-sections {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}


.payment-methods {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-bottom: 20px;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav-menu h3 {
  margin-top: 20px;
}

.footer {
  background-color: #1a1a1a;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 150px;
  margin: 10px;
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-section a {
  text-decoration: none;
  color: white;
}

.footer-bottom {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.footer-links {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  gap: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #808080;
}

.footer-content {
  display: flex;
  flex-direction: row;
}

.footer-links a {
  text-decoration-line: none;
  color: #808080;
}

.nav-menu a {
  text-decoration: none;
  color: white;
}

h4 {
  padding-bottom: 10px;
  color: #808080;
}

ul {
  list-style-type: none;
  font-size: 14px;
  /* text-align: left; */
  margin: -2px;
  padding: 0px;
}

li {
  padding: 3px;
  margin-bottom: 5px;
  cursor: pointer;
}

li:hover {
  color: #E35760;
}

.about {
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.products {
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.business {
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.support {
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.explore {
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
  /* width: 100%; */
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.content-text {
  width: 255px;
  margin-right: 40px;
  color: #808080;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.social_link {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.logo {
  padding-bottom: 20px;
}

.trustview {
  width: 150px;
  padding-bottom: 15px;
  color: #808080;
}

.header-items {
  text-align: left;
}

@media screen and (max-width:1040px) {
  .content-text {
    display: none;
  }
}

@media screen and (max-width:900px) {
  .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}

@media screen and (max-width:1020px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
  }

  .header-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .detail-sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (max-width:555px) {
  .header-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
  }
}