<app-header class="app-header"></app-header>
<app-swap-tracker></app-swap-tracker>
<div class="app__content">
  <app-buysell-crypto></app-buysell-crypto>
  <app-index-rates></app-index-rates>
</div>
<app-recent-transaction></app-recent-transaction>

<app-slider-image></app-slider-image>
<div class="total-number">
  <app-total-number></app-total-number>
</div>
<app-our-features></app-our-features>
<app-how-we-work></app-how-we-work>
<app-trust-us></app-trust-us>
<app-our-latest-news></app-our-latest-news>
<app-exchange-now></app-exchange-now>
<app-footer></app-footer>
