<div data-v-a24b5ad6="" data-v-00c52d54="" class="index-advantages">
    <div class="first">
        <div data-v-a24b5ad6="" class="index-advantages__container">
            <div data-v-a24b5ad6="" class="index-advantages__number">
                3650+
            </div> <span data-v-a24b5ad6="" class="index-advantages__title">
                Coins
            </span>
        </div>
        <div data-v-a24b5ad6="" class="index-advantages__container">
            <div data-v-a24b5ad6="" class="index-advantages__number">
                30
            </div> <span data-v-a24b5ad6="" class="index-advantages__title">
                Partners
            </span>
        </div>
    </div>
    <div class="second">
        <div data-v-a24b5ad6="" class="index-advantages__container">
            <div data-v-a24b5ad6="" class="index-advantages__number">
                120
            </div> <span data-v-a24b5ad6="" class="index-advantages__title">
                Cross-Chain Bridges
            </span>
        </div>
        <div data-v-a24b5ad6="" class="index-advantages__container">
            <div data-v-a24b5ad6="" class="index-advantages__number">
                600 000
            </div> <span data-v-a24b5ad6="" class="index-advantages__title">
                Exchange pairs
            </span>
        </div>
    </div>
</div>